@import './styles/globals'

#root
  width 100%

.view:not(.Home)
  margin-top 60px

.AppWindow.component
  background GRAY
  width 100%
  column(start, start)

footer
  width 100%
  h3
    font-family ROBO
    text-transform uppercase
    opacity 0.25
    margin-center()
