header {
	height: 70px;
	padding: 10px 20px;
  margin-bottom: 25px;

	.logo {
		font-weight: 400;
		color: white;

		img {
			max-width: 35px;
			margin-left: 5px;
    }
  }

  .open-nav {
    width: 35px;
    height: 35px;
  }
}

.intro {
  h1 {
    span {
      font-weight: 500;
    }
  }
  h2 {
    font-style: italic;
  }
}
