

.home.view
	height: 100%;
	width: 100%;

	.search
		width: 90%;
		background: white;
		border-radius: 10px;
		box-sizing: padding-box;

		.input
			width: 100%;
			max-width: 992px;
			border-radius: 10px;

			img
				height: 32px;
				width: 32px;
				opacity: 0.5;
				margin-right: 15px;

			input
				background: white;
				color: #340068;
				font-size: 1.8rem;
				width: 100%;
				padding: 15px;
				border-radius: 10px;


			&::-webkit-input-placeholder
				font-size: 1.8rem;
				font-family: 'Rubik', sans-serif;
				font-weight: 300;
				font-style: italic;

		.buttons
			width: 100%;
			background: #414361;

		button
			background: #414361;
			color: white;
			width: 200px;
			padding: 10px;
			font-family: 'Quicksand', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;

			&:nth-of-type(2)
				background: #7F2CCB;
				transform: scale(1.15);
				box-shadow: 0 0 5px rgba(0,0,0,0.2);
