.view
	max-width: 1095px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

/*input
	background: white;
	padding: 10px 15px;
	font-size: 1.8rem;
	width: 500px;

	&::-webkit-input-placeholder
		font-size: 1.8rem;
		font-family: 'Rubik', sans-serif;
		font-weight: 300;
		font-style: italic;*/
