.tag-cloud {
  padding: 15px 15px;
  background: #22223b;
  width: 100%;
  .tag {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    background: #7f2ccb;
    margin: 10px;
    padding: 7px 10px;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
    img {
      width: 18px;
      height: 18px;
      transform: rotate(45deg);
      margin-left: 5px;
    }
  }

}
