@import '../../styles/globals.styl'

.LogOut.view
  width 100%
  
  .inner
    background WHITE
    column(center, center)
    contain(100%, 992px)
    margin-top 25px
    padding 25px

    h3
      font-family ROBO
      margin 0
