.tags {
  background: #8d6b94;
  padding: 5px 10px;

  img {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-left: 5px;
  }
}

.tag {
  padding: 5px 10px;
  margin: 5px;

  &.framework {
    background: red;
  }

  &.type {
    background: blue;
  }

  &.language {
    background: green;
  }
}
